/* footer.css - Footer Details */

footer {
    border-top: 5px solid var(--accent-color);
}

footer h5, footer h6 {
    color: var(--accent-color) !important;
}

footer .hover-accent {
    transition: var(--transition);
}

footer .hover-accent:hover {
    color: var(--accent-color) !important;
    padding-left: 5px;
}

footer .social-icons a {
    transition: var(--transition);
    opacity: 0.8;
}

footer .social-icons a:hover {
    opacity: 1;
    color: var(--accent-color);
}

footer .form-control {
    border-radius: 5px 0 0 5px;
}

footer .btn-accent {
    border-radius: 0 5px 5px 0;
}
